body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-image: url('./images/background-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.loading {
    display: none;
    width: 50px;
    height: 50px;
    margin: 20px auto 0;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

#error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

* {
    box-sizing: border-box;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.container {
    max-width: 600px;
    margin: 50px auto 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
    margin-top: 0;
}

.input-container {
    margin-bottom: 20px;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

#quoteContainer {
    display: grid;
    grid-gap: 10px;
    animation: fade-in 1s ease;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.quote {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    animation: slide-up 0.5s ease;
    opacity: 0;
    transform: translateY(20px);
    animation-fill-mode: forwards;
}

@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}